/* You can add global styles to this file, and also import other style files */
@import url("./assets/normalize.css");

* { position: relative; box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.w-100 {
    width: 100%;
}

.center {
    text-align: center;
}

.container {
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 960px;
    padding: 0 25px;
}